/****** BASE STYLES ******/

body {
font-family: 'Baloo Paaji 2', cursive;
    color: #2b2b2b;

}

#portfolio {
    height: 1750px;
}

#about {
    height: 650px;
}

#contact {
    height: 550px;
}

    /****** GRID ******/

    .full-width {
        width: 1200px;
        margin: 0 auto;
    }
    .half-width {
        width: 600px;
        float: left;
    }
    .third-width {
        width: 400px;
        float: left;
    }

    /****** HEADER ******/

    header {
        height: 800px;
        background: url('../img/hero-background.png');
        background-size: cover;
    }

    header h1 {
        font-family: 'Baloo Paaji 2', cursive;
        font-size: 25px;
        color: #ffffff;
        padding: 65px 0 65px 25px;
    }
    nav {
        float: right;
        padding: 75px 25px;
    }

    nav ul li{
        display: inline-block;
    }
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        padding-left: 60px;
    }
    header h2 {
        width: 1000px;
        clear: both;
        font-family: 'Baloo Paaji 2', cursive;
        font-size: 72px;
        line-height: 80px;
        color: #9b9b9b;
        padding: 20px 0 20px 25px;
    }
    header h2 span {
        color: #fa0075;
    }

/****** ABOUT ******/

#about {
    height: 750px;
    background: url('../img/about.png');
    background-size: cover;
}

#about .full-width {
        padding: 120px 0;
    }

#about h3 {
        font-family: 'Baloo Paaji 2', cursive;
        font-size: 36px;
        padding-left: 50px;
        color: #fa0075
    }

#about p {
        font-size: 24px;
        color: #1f202b;
        line-height: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }


/****** PORTFOLIO *****/

#portfolio {
    background-color: #1f202b;
    text-align: center;
}

#portfolio .full-width {
    padding-top: 30px;
    padding: 70px 0;
}

#portfolio .half-width {
    padding-top: 25px;
    padding: 25px 0;
}

#portfolio img#jubilee-image {
    margin-left: 25px;
    border: 10px solid #ffffff;
    padding-top: 20px;
}

#portfolio img#margie {
    margin-left: : 25px;
    border: 10px solid #ffffff;
    padding-top: 20px;
}

#portfolio img#project {
    margin-left: : 25px;
    border: 10px solid #ffffff;
    padding-top: 0 20px;
}

#portfolio h1 {
  color: #fa0075;
  float: left;
  font-size: 36px;

}

#portfolio h3 {
    font-size: 22px;
    line-height: 32px;
    width: 210px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 25px;

}

#portfolio p {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding-top: 0 75px;
    padding-left: 85px;
    padding-right: 85px;
}


/****** CONTACT *****/

#contact {
    background-color: #1f202b;
    text-align: center;
}

#contact .full-width {
    padding: 115px 0;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 2px;
    padding-right: 48px;
}

#contact h2 {
    font-size: 60px;
    line-height: 60px;
    width: 190x;
    margin: 0 auto;
    color: #fa0075;
    padding-bottom: 65px;
}

#contact h3 {
    font-size: 30px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
    color: #ffffff
}

#contact p {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 24px;
    line-height: 30px;
    padding: 0 50px;
    color: #ffffff
}
